.app_inside_banner {
  display: flex;
  width: 100%;
  position: relative;
  height: 220px;
  margin-bottom: 10px;

  img {
    width: 100%;
    border-radius: 8px;
    height: auto !important;
  }
}

.app_bradecumb {
  display: flex;
  width: 100%;

  > ul {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    > li {
      display: flex;
      gap: 8px;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 700;

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;

        > svg.app_brd_home {
          width: 18px;
          height: 18px;
        }

        > svg.app_brd_arrow {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}

.app_main_page_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
  gap: 18px;

  .app_sidebar_filter {
    width: calc(16% - 9px);

    h5 {
      font-size: 15px;
      margin-bottom: 10px;
    }

    .app_filter_inside {
      width: 100%;
      display: flex;
      flex-direction: column;

      .app_filter_items {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid lighten($bgcategory, 16%);

        h6 {
          padding: 8px 18px;
          font-size: 13px;
          background: $bgnewcatg;
          border-bottom: 1px solid lighten($bgcategory, 16%);
        }

        ul {
          padding: 12px 18px;

          li {
            display: flex;
            margin-bottom: 6px;

            &:last-child {
              margin-bottom: 0px;
            }

            > label {
              display: flex;
              gap: 8px;
              width: 100%;
              cursor: pointer;

              > p {
                font-size: 14px;
                font-weight: 700;
                transition: 0.5s;
              }
            }

            &:hover label {
              > p {
                color: $btn;
                transition: 0.5s;
              }
            }
          }
        }
      }
    }
  }

  .app_main_list_content_area {
    width: calc(84% - 9px);

    h4 {
      font-size: 20px;
      text-transform: capitalize;
    }

    .app_main_product_category {
      display: flex;
      width: 100%;
      margin: 20px 0px;
      flex-direction: column;

      h6 {
        color: darken($price, 10%);
        font-size: 14px;
        margin-bottom: 4px;
        text-transform: capitalize;
      }

      > ul {
        display: flex;
        width: 100%;
        gap: 16px;

        > li {
          display: flex;
          width: 20%;
          padding: 0px 12px;
          border-radius: 10px;
          align-items: center;
          background: $bgnewcatg;
          border: 1px solid lighten($bgcategory, 16%);

          > span {
            position: relative;
            display: flex;
            width: 83px;
            height: 70px;

            > img {
              width: 70px !important;
              mix-blend-mode: darken;
            }
          }

          .app_text_head_dis {
            display: flex;
            flex-direction: column;

            > h4 {
              font-size: 17px;
              font-weight: 800;
              line-height: 1.2;
            }

            > p {
              font-size: 13px;
              font-weight: 600;
            }
          }
        }
      }
    }

    .app_chipset_list_items {
      width: 100%;

      h6 {
        color: darken($price, 10%);
        font-size: 14px;
        margin-bottom: 4px;
        text-transform: capitalize;
      }

      ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;

        > li {
          display: flex;

          > a {
            display: flex;
            gap: 4px;
            padding: 5px 11px 5px 16px;
            border-radius: 8px;
            align-items: center;
            border: 1px solid $border;
            transition: 0.5s;

            > p {
              color: $black;
              font-size: 13px;
              font-weight: 700;
              transition: 0.5s;
            }

            > span {
              width: 12px;
              height: 12px;
              margin-top: -1px;
              margin-left: 3px;

              > svg {
                width: 12px;
                height: 12px;
                transition: 0.5s;
              }
            }

            &:hover {
              background: lighten($btn, 46%);
              border: 1px solid $btn;
              transition: 0.5s;

              > p {
                color: $btn;
                transition: 0.5s;
              }

              > span > svg {
                color: $btn;
                transition: 0.5s;
              }
            }
          }
        }
      }
    }
  }
}

.app_category_build_item {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-direction: column;

  > h5 {
    color: darken($price, 16%);
    font-size: 14px;
    margin-bottom: 4px;
    text-transform: capitalize;
  }

  > ul {
    display: flex;
    width: 100%;
    gap: 14px;

    > li {
      width: 10%;
      display: flex;
      padding: 16px 20px;
      border-radius: 10px;
      flex-direction: column;
      align-items: center;
      background: $bgnewcatg;
      border: 1px solid lighten($bgcategory, 16%);
      position: relative;

      > span {
        position: relative;
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        margin-bottom: 10px;

        > svg {
          width: 50px;
          height: 50px;
        }

        > img {
          width: 80px !important;
          mix-blend-mode: darken;
        }
      }

      > h6 {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
      }

      .app_status_update {
        position: absolute;
        top: 5px;
        right: 5px;
      }

      &::after {
        content: "";
        position: absolute;
      }
    }
  }
}
